:root {
    --my-color1: rgb(83, 143, 235);
    --my-color2: #050354;
}

.slider-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-arrows img {
    width: 2em;    
}

.slider-container {
    margin: 1.5em;
    overflow-x: auto;
  
}

.slider-track {
    display: flex;
    width: 100%;
}

.slider-card-text {
    text-align: center;
    color: var(--my-color2)
}

.slider-card-text span {
    color: var(--my-color1)
}