.navbar-container {
    padding: 1.5em 1.5em .5em 1.5em;
    background-color: white;
    display: flex;
    gap: 3em;   
}

.brand {
    display: flex;
    align-items: center;
    gap: 1em;
}

.brand a {
    text-decoration: none;
    color: var(--my-color1);
}

.brand img {
    width: 2.5em;
    background-color:var(--my-color1);
    padding: .5em;
    border-radius: .5em;
}

/*Styling for desktop view*/ 

 .ham-control {
    display: none;
}

.desktop-view .nav-links {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 70vw;
}

.desktop-view .nav-links a {
    text-decoration: none;
}

.login {
    background-color: var(--my-color1);
    color: #fff;
    padding: 1em;
    border-radius: 2em;
}

.desktop .nav-links a {
    padding-top: 1em;
    text-decoration: none;
    color: var(--my-color1);
}

.search {
    display: flex;
    align-items: center;
    gap: 3em;
}
.search form {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.search form input {
    padding: .7em;
    width: 100%;
    border: 2px solid var(--my-color1) 
}

.search img {
    width: 2.7em;
    cursor: pointer;
    background-color: var(--my-color1);
    padding: .7em;
}



@media only screen and (max-width: 760px) {

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
   
    .ham-control {
        display: block;
    }

    .ham-control img {
        width: 3em;
    }    
    
     .desktop-view .nav-links {
        display: none;
    }

    .mobile-view .nav-links {
        display: flex;
        background-color: var(--my-color2);
        flex-direction: column;
        align-items: flex-start;
        padding: 3em 2em;
        gap:1em;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        position: absolute;
        top: 1;
        left: 0;
        z-index: 100;   
    }
    
    .mobile-view .nav-links a {
        color: var(--my-color1);
        text-decoration: none;
    }

    .login {
        background-color: transparent;
        padding: 0;
    }

    .mobile-view .search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }
    
    .search form input {
        padding: 1em;
        width:100%;
        border: none;
        outline: none;
    }
    
    .search img {
        width: 3em;
        cursor: pointer;
        padding: .7em;
    }
    
}