:root {
    --my-color1: rgb(83, 143, 235);
    --my-color2: #050354;
}


.workshop-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}    

.workshop {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .8em;
    color: #fff;
    border: 2px solid #fff;
    padding: 3em;
    margin: 1em;
    width: 15em;
    height: 15em;

}

.workshop img  {
    width: 4em;
}

.workshop-text {
    padding: 2em;
    color: #fff;
}

.workshop-section {
    background-color: var(--my-color1);
    text-align: center;
}

@media only screen and (min-width:768px) {

    .workshop-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .workshop-section {
        padding: 3em;
    }
}